<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add 
      name="MonitoringSQLServerDB" 
      connectionString="Data Source=ABELAC;
      Initial Catalog=MonitoringSQLServer; 
      Persist Security Info=True;
      User ID=user-1;
      Password=sa;"
    providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>